.about .button:after, .about .button:after {
  content: "";
  background-color: #f3111189;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}
.about button:active, .about .button:active {
	background-color: #f311113a;
}
.about button:hover:after, .about .button:hover:after {
  top: 0px;
  left: 0px;
}
.triangle-outline {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.triangle-solid {
  background-color: #f3111189;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: -1;
}

/* Shapes for background*/
#shape1 {
  transform: translateX(-550px) translateY(-350px);
  height: 350px;
  width: 350px;
}
#shape2 {
  transform: translateX(-543px) translateY(-343px);
  height: 350px;
  width: 350px;
}
#shape3 {
  transform: translateX(-250px) translateY(80px);
  height: 250px;
  width: 250px;
}
#shape4 {
  transform: translateX(-243px) translateY(87px);
  height: 250px;
  width: 250px;
}
#shape5 {
  transform: translateX(300px) translateY(-100px);
}
#shape6 {
  transform: translateX(307px) translateY(-93px);
}
#shape7 {
  transform: translateX(400px) translateY(-400px);
  height: 100px;
  width: 100px;
}
#shape8 {
  transform: translateX(407px) translateY(-393px);
  height: 100px;
  width: 100px;
}
#shape9 {
  transform: translateX(200px) translateY(150px);
  height: 150px;
  width: 150px;
}
#shape10 {
  transform: translateX(207px) translateY(157px);
  width: 150px;
  height: 150px;
}