.about .button:after, .about .button:after {
  content: "";
  background-color: #f3111189;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}
.about button:active, .about .button:active {
	background-color: #f311113a;
}
.about button:hover:after, .about .button:hover:after {
  top: 0px;
  left: 0px;
}