.contact button:after, .contact .button:after {
  content: "";
  background-color: #0ef53889;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}
.contact button:active, .contact .button:active {
	background-color: #0ef53834;
}
.contact button:hover:after, .contact .button:hover:after {
  top: 0px;
  left: 0px;
}

#contact-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#message-button {
	margin-top: 20px;
}
.circle-outline {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: -1;
}

.circle-solid {
  background-color: #0ef53889;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: -2;
}

/* Shapes for background*/
#shape1 {
  transform: translateX(-400px) translateY(-550px);
  height: 100px;
  width: 100px;
}
#shape2 {
  transform: translateX(-393px) translateY(-543px);
  height: 100px;
  width: 100px;
}
#shape3 {
  transform: translateX(-650px) translateY(-300px);
  height: 150px;
  width: 150px;
}
#shape4 {
  transform: translateX(-643px) translateY(-293px);
  height: 150px;
  width: 150px;
}
#shape5 {
  transform: translateX(50px) translateY(-450px);
}
#shape6 {
  transform: translateX(57px) translateY(-443px);
}
#shape7 {
  transform: translateX(400px) translateY(-400px);
  height: 100px;
  width: 100px;
}
#shape8 {
  transform: translateX(407px) translateY(-393px);
  height: 100px;
  width: 100px;
}
#shape9 {
  transform: translateX(200px) translateY(-100px);
  height: 250px;
  width: 250px;
}
#shape10 {
  transform: translateX(207px) translateY(-93px);
  width: 250px;
  height: 250px;
}