

.profile button:after, .profile .button:after {
  content: "";
  background-color: #25c6f789;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}
.profile button:active, .profile .button:active {
	background-color: #25c6f73b;
}
.profile button:hover:after, .profile .button:hover:after {
  top: 0px;
  left: 0px;
}
#profile-portrait {
	width: 250px;
	border-radius: 50%;
	margin-right: 50px;
  z-index: 1;
}
#profile {
	display: flex;
	justify-content: center;
}
.circle-outline {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.circle-solid-blue {
  background-color: #25c6f789;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: -2;
}

.circle-solid-red {
  background-color: #f3111189;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: -2;
}

.circle-solid-yellow {
  background-color: #faf213d8;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: -2;
}

.circle-solid-green {
  background-color: #0ef53889;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: -2;
}

/* Solid circles for profile background*/
/* Outlines for profile background*/

/* Solid circles for about background*/
/* Outlines for about background*/

/* Solid circles for work background*/
/* Outlines for work background*/

/* Solid circles for contact background*/
/* Outlines for contact background*/