.profile button:after, .profile .button:after {
  content: "";
  background-color: #25c6f789;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}
.profile button:active, .profile .button:active {
	background-color: #25c6f73b;
}
.profile button:hover:after, .profile .button:hover:after {
  top: 0px;
  left: 0px;
}
#profile-portrait {
	width: 250px;
	border-radius: 50%;
	margin-right: 50px;
  z-index: 1;
}
#profile {
	display: flex;
	justify-content: center;
}
.circle-outline {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.circle-solid-blue {
  background-color: #25c6f789;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: -2;
}

.circle-solid-red {
  background-color: #f3111189;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: -2;
}

.circle-solid-yellow {
  background-color: #faf213d8;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: -2;
}

.circle-solid-green {
  background-color: #0ef53889;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: -2;
}

/* Shapes for profile background*/
#shape1 {
  transform: translateX(-520px) translateY(-400px);
  height: 350px;
  width: 350px;
}
#shape2 {
  transform: translateX(-527px) translateY(-407px);
  height: 350px;
  width: 350px;
}
#shape3 {
  transform: translateX(-250px) translateY(80px);
  height: 250px;
  width: 250px;
}
#shape4 {
  transform: translateX(-243px) translateY(87px);
  height: 250px;
  width: 250px;
}
#shape5 {
  transform: translateX(300px) translateY(-100px);
}
#shape6 {
  transform: translateX(307px) translateY(-93px);
}
#shape7 {
  transform: translateX(400px) translateY(-400px);
  height: 100px;
  width: 100px;
}
#shape8 {
  transform: translateX(407px) translateY(-393px);
  height: 100px;
  width: 100px;
}
#shape9 {
  transform: translateX(200px) translateY(150px);
  height: 150px;
  width: 150px;
}
#shape10 {
  transform: translateX(207px) translateY(157px);
  width: 150px;
  height: 150px;
}

/* Shapes for About background*/
#shape11 {
  transform: translateX(-550px) translateY(-850px);
}
#shape12 {
  transform: translateX(-543px) translateY(-843px);
}
#shape13 {
  transform: translateX(-600px) translateY(-400px);
  height: 250px;
  width: 250px;
}
#shape14 {
  transform: translateX(-593px) translateY(-397px);
  height: 250px;
  width: 250px;
}
#shape15 {
  transform: translateX(-600px) translateY(-630px);
  height: 100px;
  width: 100px;
}
#shape16 {
  transform: translateX(-597px) translateY(-623px);
  height: 100px;
  width: 100px;
}
#shape17 {
  transform: translateX(400px) translateY(-400px);
  height: 150px;
  width: 150px;
}
#shape18 {
  transform: translateX(407px) translateY(-393px);
  height: 150px;
  width: 150px;
}
#shape19 {
  transform: translateX(500px) translateY(-800px);
  height: 350px;
  width: 350px;
}
#shape20 {
  transform: translateX(507px) translateY(-793px);
  width: 350px;
  height: 350px;
}