:root {
	--color1: #e63946;
	--color2: #f0eeee;
	--color3: #a8dadc;
	--color4: #457b9d;
	--color5: #1d3557;
}
* {
box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 1.5;
text-align: center;
color: var(--color2);
background-color: var(--color5);
}
p {
text-align: left;
}
h {
font-family: Arial, Helvetica, sans-serif;
font-size: 48px;
font-weight: 300;
line-height: 1.4;
}
h h2 {
	font-size: 36px;
}
h h3 {
	font-size: 24px;
}
section {
	padding: 5%;
}
a {
	color: var(--color2);
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
	transition: color 0.2s ease-in-out;
}
a:hover {
	color: var(--color3);
}
li {
	list-style-type: none;
}
table {
	margin: 0 auto;
}
.button, input[type=submit] {
	font: inherit;
	font-weight: inherit;
  padding: 13px 20px;
	cursor: pointer;
  border: 1px solid var(--color2);
	color: var(--color2);
	background-color: var(--color5);
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.button:hover, input[type=submit]:hover {
	background-color: var(--color2);
	color: var(--color5);
}
input[type=tel], input[type=email], textarea {
	display: block;
	background-color: var(--color2);
	width: 100%;
	padding: 8px;
	margin-bottom: 20px;
}
.page-header {
	display: flex;
	justify-content: center;
	position: fixed;
	top: 50%;
}
.tooltip {
  position: absolute;
  left: 175%;
  transform: translateX(-50%); /* Center the tooltip */
	background-color: var(--color5);
  color: var(--color2);
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  opacity: 0; /* Hidden by default */
  visibility: hidden; /* Hidden by default */
  transition: opacity 0.3s, visibility 0.3s;
}

#show:hover .tooltip,
#hide:hover .tooltip,
.tooltip.visible {
  opacity: 1;
  visibility: visible;
}
.page-footer {
	clear: both;
	display: flex;
	justify-content: center;
	margin-top: 100px;
}
.grid-item {
	display: inline-block;
	padding: 5%;
	width: 33%;
}
@supports (display: grid) {
	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px;
		margin: 0;
	}
	.grid-item {
		background-color: var(--color4);
		text-align: left;
		width: auto;
		min-height: auto;
		margin: 0;
	}
	@media (max-width: 500px) {
		.grid {
			grid-template-columns: 1fr;
		}
	}
	@media (min-width: 500px) and (max-width: 750px) {
		.grid {
			grid-template-columns: 1fr 1fr;
		}
	}
	@media (min-width: 768px) {
		.button {
			padding: 13px 50px 13px;
		}
	}
	@media (max-width: 750px) {
		.grid {
			grid-gap: 10px;
		}
		.grid-item:last-child {
			grid-column: auto/auto;
			grid-row: auto/auto;
		}
		h1 {
			font-size: 22px;
		}
	}
}
.navigation-list {
	border: 1px solid var(--color2);
	background-color: var(--color5);
	padding: 10px;
	margin-right: 10px;
	transform: translateX(-100%);
	transition: transform 0.5s ease-in-out;
}
.navigation-list.visible {
	transform: translateX(0);
}
.skill {
	color: var(--color3);
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
	border-radius: 5px;
	background-color: var(--color5);
	padding: 5px;
	margin: 5px;
}
.skill-heading {
	text-align: center;
}
.work-pictures {
	width: 100%;
}
.work-extras {
	display: flex;
	gap: 20%;
}
#hide, #show {
	padding: 0;
	border: none;
	color: var(--color2);
	background-color: transparent;
	cursor: pointer;
}
#show {
	visibility: hidden;
	transform: translateX(0%);
	transition: transform .5s ease-in-out;
}
#show.visible {
	visibility: visible;
	transform: translateX(-290%);
}
#hide {
	visibility: hidden;
	transform: translateX(-290%);
	transition: transform .75s ease-in-out;
}
#hide.visible {
	visibility: visible;
	transform: translateX(-100%);
}
#profile {
	display: flex;
	justify-content: center;
	width: 80%;
	margin: 0 auto;
}
#profile-portrait {
	width: 250px;
	border-radius: 50%;
	margin-right: 50px;
  z-index: 1;
}
#about {
	display: flex;
	justify-content: center;
	gap: 2.5%;
}
#bio, #skills {
	width: 100%;
	padding: 5%;
	background-color: var(--color4);
}
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	/* background-color: var(--color4); */
}
#contact-form {
	width: 50%;
}