.work button:after, .work .button:after {
  content: "";
  background-color: #faf213d8;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}
.work button:active, .work .button:active {
	background-color: #faf21352;
}
.work button:hover:after, .work .button:hover:after {
  top: 0px;
  left: 0px;
}
.circle-outline {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: -1;
}

.circle-solid {
  background-color: #faf213d8;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: -2;
}

/* Shapes for background*/
#shape1 {
  transform: translateX(-550px) translateY(-350px);
  height: 350px;
  width: 350px;
}
#shape2 {
  transform: translateX(-543px) translateY(-343px);
  height: 350px;
  width: 350px;
}
#shape3 {
  transform: translateX(-250px) translateY(-750px);
  height: 250px;
  width: 250px;
}
#shape4 {
  transform: translateX(-243px) translateY(-743px);
  height: 250px;
  width: 250px;
}
#shape5 {
  transform: translateX(-500px) translateY(-800px);
  height: 100px;
  width: 100px;
}
#shape6 {
  transform: translateX(-493px) translateY(-793px);
  height: 100px;
  width: 100px;
}
#shape7 {
  transform: translateX(100px) translateY(-450px);
  height: 100px;
  width: 100px;
}
#shape8 {
  transform: translateX(107px) translateY(-443px);
  height: 100px;
  width: 100px;
}
#shape9 {
  transform: translateX(200px) translateY(-350px);
  height: 250px;
  width: 250px;
}
#shape10 {
  transform: translateX(207px) translateY(-343px);
  width: 250px;
  height: 250px;
}